node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

buildOutput.txt
buildStatus.txt
appium-log.txt
uwhelper-simulator.tar.gz
uwhelper-simulator.zip
uwhelper.app
.DS_Store