node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision
.DS_Store
*/.DS_Store

buildOutput.txt
buildStatus.txt
appium-log.txt
uwhelper-simulator.tar.gz
uwhelper-simulator.zip
uwhelper.app